.album
  .name
    = album.name
  .cover            
    /%img{:src => "#{album[:cover_photo].picture}"}
    - cover_photo = @client_manager.get_facebook_album_cover_photo(album)
    %img{:src => "#{(cover_photo ? cover_photo.picture: "")}"}