.album
  .name
    /= album[:a].title
    = set.title
  .cover
    /%img{:src => "#{album[:cover_photo].source}"}
    - cover_photo = @client_manager.get_flickr_photoset_cover_photo(set)
    %img{:src => cover_photo.source}
  .selector
    /= check_box_tag "photoset_ids[]", album[:id]
    = check_box_tag "photoset_ids[]", set.id